<!DOCTYPE html>
<html>
  <head> <title> LEYLA </title></head>
  <body bgcolor = lightpink>
    <p style="font-size:50px;font-family:courier;text-align:center;color:white">Leyla Alekperova </p>
     <p style="font-size:30px;font-family:courier;text-align:center;color:white">age:18 </p>
       <p style="font-size:30px;font-family:courier;text-align:center;color:white">hometown: Moscow, Russia </p>
       <p style="font-size:30px;font-family:courier;text-align:center;color:white">favorite asian food: korean bbq</p>
       
       
       
       
       
    <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.15752-9/39157761_254521148511964_1459141188069097472_n.png?_nc_cat=0&oh=da4f6e02bb099b6295f9c47129865456&oe=5C0D5F25" alt="Italian Trulli">
    <style>
      img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    </style>
    <p style="font-size:20px;font-family:courier;text-align:center;color:white"> i never looked up to someone, but i was just inspired by so many people. </p>
       <p style="font-size:20px;font-family:courier;text-align:center;color:white"> i look very alike with my mom with my appearence and personality.</p>
       <p style="font-size:20px;font-family:courier;text-align:center;color:white">my mom is not just my relative, she is a lot more than that.</p>
    <p style="font-size:20px;font-family:courier;text-align:center;color:white">i don't have any favorite actress, because all of them are very good. everyone has something very special.  </p>
       <p style="font-size:20px;font-family:courier;text-align:center;color:white">i listen to a lot of indi-pop music or rock. </p>
       <p style="font-size:20px;font-family:courier;text-align:center;color:white"> i like to visit museums and make sketches there.</p>
    
    
    
  </body>
  </html>
